/tab3-bot-deselected.gif
/tab3-bot-end-selected.gif
/tab3-bot-mid-selected.gif
/tab3-bot-start-selected.gif
/tab3-end-deselected.gif
/tab3-end-join-deselected-to-deselected.gif
/tab3-end-join-selected-to-deselected.gif
/tab3-end-selected.gif
/tab3-mid-deselected.gif
/tab3-mid-selected.gif
/tab3-start-deselected.gif
/tab3-start-join-deselected-to-deselected.gif
/tab3-start-join-selected-to-deselected.gif
/tab3-start-join-selected.gif
/tab3-start-selected.gif
/close.gif
/list-bullet.gif
/logo-dark.gif
